.btn-white {
  background-color: $white;
  box-shadow: 0 .8rem 1.6rem rgba($black, .19), 0 .1rem .3rem rgba($black, .23);

  a {
    text-decoration: none;
  }
}

a.btn-lg {
  margin: .5rem;
}

.btn-white-flat {
  @extend .btn-white;
  
  box-shadow: 0;
  margin: .25rem;
}
