.filter-bar {
    margin-bottom: 0.75rem;

    h2 {
        display: inline;
        vertical-align: middle;
    }

    a {
        vertical-align: middle;
        margin: 0.25rem 0.5rem 0.25rem 0; 
    } 
}