.udstiller-card {
  &__images {
    position: relative;
    background: linear-gradient($gradient-start, $gradient-end);
    max-height: 30vh;
    overflow: hidden;
  }

  &__featured-image {
    width: 100%;
    opacity: .3;
  }

  &__logo-image {
    background: white;
    border-radius: 5px;
    height: 50%;
    left: 5%;
    padding: 5px;
    position: absolute;
    top: 25%;
  }
}
