.home .jumbo {
  height: 70vh;
  max-height: 120vw;
  min-height: 25rem;
}

.jumbo {
  align-items: center;
  background-attachment: scroll;
  background-color: $gray-dark;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: flex;
  height: 35vh;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  max-height: 100vw;
  min-height: 15rem;
  position: relative;

  &::before {
    background: linear-gradient(rgba($black, .3), rgba($black, 0) 8rem),
      linear-gradient(rgba($black, .4), rgba($black, 0) 4rem),
      linear-gradient(to top, rgba($black, .3), rgba($black, 0) 8rem),
      linear-gradient($gradient-start, $gradient-end);
    bottom: 0;
    content: '';
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__content {
    width: 100%;
    z-index: 1;
  }

  &__heading,
  &__text {
    text-shadow: 0 0 .5em rgba($black, .4), 0 0 1px rgba($black, .8);
  }

  &__text {
    font-size: 1.6rem;
  }

  &__buttons {
    bottom: 2rem;
    position: absolute;

    @include media-breakpoint-up(md) {
      bottom: 3rem;
    }
  }

  &__separator {
    bottom: -1px; // because fuck safari that's why...
    fill: $body-bg;
    height: 1rem;
    left: 0;
    position: absolute;
    width: 100%;

    @include media-breakpoint-up(md) {
      height: 2rem;
    }
  }
}
