// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// Font
$font-family-sans-serif: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
