.banner {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  left: 0;
  position: absolute;
  right: 0;
  text-shadow: 0 0 .5em rgba($black, .4), 0 0 1px rgba($black, .8);
  top: 0;
  z-index: 1;

  a,
  a:hover {
    color: $white;
  }
}

.brand {
  font-weight: bold;
}

.nav-primary {
  float: right;
}

header time {
  display: block;
  margin-bottom: 1rem;
  text-align: right;
}

.menu-item {
  display: inline-block;
  font-weight: bold;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
